		.wrap {
		  display: grid;
		  grid-template-columns: 270px minmax(420px, 1fr);
		  grid-template-rows: 56px 1fr; /* search Form */
		}
		
		.header {
			min-height: 100vh;
			grid-row: span 2;
			background-color:rgb(231, 216, 241);
		}
		
		.main{
			height:100%;
		    background-color:pink;
		}
		.search-label{width:20%;}
		
		.top-bar {
		  background-color: #f0f0f0;
		  display: grid;
		  column-gap: 5px;
		  grid-template-columns: 1fr 52px;
		  align-content: center;
		}
		
		.myPage {
		  margin: 40px 0 50px;
		  text-align: center;
		}